<!-- Heder -->
<header class="header">
    <div class="container heder-container">
    <div class="logo-green">
            <a class="header-logo" href="./index.html">                
                <svg class="logo-first" width="18" height="18">
                    <use href="/img/icons.svg#logo">  
                    </use>
                 </svg>
                </a> 
                <a class="header-logo" href="./index.html">
                <svg class="logo-text" width="148" height="12">
                    <use href="/img/icons.svg#logo-text">
                    </use>
                </svg>
                </a>   
            <a class="header-logo-menu" href="./index.html">
                <svg class="menu-icon" width="36" height="36">
                    <use href="/img/icons.svg#mobile-menu">
                    </use>
                </svg>
                </a>
        </div>
<nav class="header-navigation">
<ul class="header-soc-list">
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">How It Works</a>
    </li>
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">Vegetables</a>
    </li>
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">Reviews</a>
    </li>
</ul>
</nav>
   <button type="button" class="heder-btn">Shop now</button> 
    </div>
    <!-- ---------- -->
<!-- Mobil-menu -->
<div class="mobil-menu is-open">
    <div class="mobil-menu-page">
<button type="button" class="mobil-btn-close">
        <svg class="mobil-icons" width="16" height="16">
        <use href="/img/icons.svg#close-mobile-menu">
             </use>
            </svg>
</button>
        <nav class="mobil-navigation">
            <ul class="mobil-list">
                <li class="mobil-soc">
                    <a class="mobil-menu-link" href="" target="_blank">How It Works</a>
                </li>
                <li class="mobil-soc-item">
                    <a class="mobil-menu-link" href="" target="_blank">Vegetables</a>
                </li>
                <li class="mobil-soc-item">
                    <a class="mobil-menu-link" href="" target="_blank">Reviews</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="mobil-btn">Shop now</button>
    </div>
</div>
    <!-- --------- -->

</header>
