<!-- Heder -->
<header class="header">
    <div class="container heder-container">
        <div class="logo-green">
                <svg class="heder-icons" width="18" height="18">
                    <use href="../img/icons.svg#icon-vector-1">  
                    </use>
        </svg>
                <svg class="heder-icons" width="168" height="15">
                    <use href="./img/icons.svg#icon-vector">
                    </use>
                </svg>
        </div>
<nav class="header-navigation">
<button type="button" class="heder-btn">Shop now</button>
<ul class="header-soc-list">
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">How It Works</a>
    </li>
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">Vegetables</a>
    </li>
    <li class="header-soc-item">
        <a class="header-menu-link" href="" target="_blank">Reviews</a>
    </li>
</ul>
</nav>
    </div>
    <!-- ---------- -->
    <!-- Mobil-menu -->
    <div class="mobil-menu">
        <svg class="mobil-icons" width="32" height="32">
        <use href="./img/icons.svg#close-mobile-menu">
             </use>
            </svg>
        <nav class="mobil-navigation">
            <ul>
                <li class="mobil-soc-item">
                    <a class="mobil-menu-link" href="" target="_blank">How It Works</a>
                </li>
                <li class="mobil-soc-item">
                    <a class="mobil-menu-link" href="" target="_blank">Vegetables</a>
                </li>
                <li class="mobil-soc-item">
                    <a class="mobil-menu-link" href="" target="_blank">Reviews</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="mobil-btn">Shop now</button>
    </div>
    <!-- --------- -->

</header>