<section class="section-hero">
  <div class="left">
    <div class="content">
      <h1 class="tittle">ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
      <p class="text-hero">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
  </div>
  <div class="right"></div>
</section>
