<section class="section-works">
  <div class="works-content">
    <h2 class="visually-hidden">How it works</h2>
    <div class="works-picture-container">
      <picture class="works-picture">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/desk-girl-1x.jpg 1x,
            /img/how-it-works/desk-girl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/how-it-works/tab-girl-1x.jpg 1x,
            /img/how-it-works/tab-girl-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/how-it-works/mob-girl-1x.jpg 1x,
            /img/how-it-works/mob-girl-2x.jpg 2x
          "
        />
        <img
          class="how-it-works-img"
          src="/img/how-it-works/mob-girl-1x.jpg"
          alt="girl in the kitchen"
          width="335"
        />
      </picture>
    </div>
    <div class="works-list-container">
      <div class="work-text-block">
        <p class="works-text-big">
          To order your <span class="works-span">vegetable</span> basket, simply
          follow these <span class="works-span">easy steps</span>
        </p>
        <p class="work-text-small">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <!-- second part of section «how it works» -->
      <ol class="instruction-list">
        <li class="instruction-list-item">
          <p class="instruction-list-text">
            Just choose <span class="list-bold-text">the vegetable</span> you
            want to order by clicking on the checkboxes
            <span class="list-bold-text">next to it</span>.
          </p>
        </li>
        <li class="instruction-list-item">
          <p class="instruction-list-text">
            Click on <span class="list-bold-text">the basket</span> and fill out
            the form.
          </p>
        </li>
        <li class="instruction-list-item">
          <p class="instruction-list-text">
            Sit back and relax! Your
            <span class="list-bold-text">fresh vegetables</span> basket will be
            delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
