<section class="hiw">
  <div class="hiw-container">
    <picture>
      <source
        media="(min-width: 1158px)"
        srcset="./images/portfolio-a.jpg 1x, ./images/banking-desktop-2x.jpg 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/banking-tab-1x.jpg 1x, ./images/banking-tab-2x.jpg 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="./images/banking-mob-1x.jpg 1x, ./images/banking-mob-2x.jpg 2x"
      />
      <img
        class="portfolio-img"
        src="./images/portfolio-a.jpg"
        alt="app mockup"
        width="360"
      />
    </picture>
  </div>
  <div class="hiw-container">
    <h2 class="title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <p>
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <ol>
      <li>
        <p>
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </p>
      </li>
      <li>
        <p>Click on the basket and fill out the form.</p>
      </li>
      <li>
        <p>
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </p>
      </li>
    </ol>
  </div>
</section>
