<section class="reviews">
  <div class="container reviews-container">
    <div class="reviews-log">
      <div class="reviews-logotip">
        <h2 class="reviews-title">REVIEWS FROM OUR <span class="reviews-span">CUSTOMERS</span></h2>
          <div class="reviews-title">
             <p class="reviews-title-text">Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
          </div>
      </div>
    </div>
       <ul class="reviews-list">
        <li class="reviews-item">
            <img
              class="reviews-picture"
              srcset="./images/reviews/john-2x.jpg 2x"
              src="./images/reviews/john.jpg"
              alt="John Wax"
              width="56"
              height="56"
            />
            <h3 class="reviews-subtitle">John Wax</h3>
            <p class="reviews-item-text">
                These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!
            </p>
        </li>

        <li class="reviews-item">
            <img
              class="reviews-picture"
              srcset="./images/reviews/victoria-2x.jpg 2x"
              src="./images/reviews/victoria.jpg"
              alt="Victoria Romashenko"
              width="56"
              height="56"
            />
            <h3 class="reviews-subtitle">Victoria Romashenko</h3>
            <p class="reviews-item-text">
                I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!
            </p>
        </li>

        <li class="reviews-item">
            <img
              class="reviews-picture"
              srcset="./images/reviews/ihor-2x.jpg 2x"
              src="./images/reviews/ihor.jpg"
              alt="Ihor Trachuk"
              width="56"
              height="56"
            />
            <h3 class="reviews-subtitle">Ihor Trachuk</h3>
            <p class="reviews-item-text">
                Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.
            </p>
        </li>
  
      </ul>
  </div>
</section>