<section class="order">
    <h2 class="order-title">Fresh Harvest Box has got you covered</h2>
    <p class="order-title-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking
        to eat healthier or support local
        farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <div class="order-modal">
        <p class="order-modal-title">Ordering from us is quick and easy! Fill out the form below and we will contact you
            !</p>
        <form class="order-modal-form">
            <label for="user-name" class="order-modal-label"></label>
            <input type="text" name="user-name" class="order-modal-input" required id="user-name"
                placeholder="Full Name">
            <label for="email" class="order-modal-label"></label>
            <input type="email" name="user-email" class="order-modal-input" required id="email" placeholder="Email">
            <label for="user-text" class="order-modal-label"></label>
            <textarea name="user-text" id="user-text" placeholder="Comment" class="order-modal-textarea"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <div>
        <img src="./order.img/mobile-order.jpg" srcset="./order.img/mobile-order2x.jpg" alt="fresh" class="order-img">
        <h3 class="order-subtitle">Follow us on our social networks:</h3>
        <ul class="order-list">
            <li class="order-item">
                <a href="" class="order-link">instagram</a>
            </li>
            <li class="order-item">
                <p class="order-item-text">/</p>
            </li>
            <li class="order-item">
                <a href="" class="order-link">facebook</a>
            </li>
            <li class="order-item">
                <p class="order-item-text">/</p>
            </li>
            <li class="order-item">
                <a href="" class="order-link">youtube</a>
            </li>

        </ul>
    </div>
</section>