<section class="order">
    <div class="container order-container">
        <div class="order-title-container">
            <h2 class="order-title">Fresh <span class="order-title-span">Harvest</span> Box has got you covered</h2>
            <p class="order-title-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone
                looking
                to eat healthier or support local
                farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        </div>


        <div class="order-desktop">
            <div class="order-modal">
                <h3 class="order-modal-subtitle">Ordering <span class="order-subtitle-span">from us</span> is quick and
                    easy! Fill out <span class="order-span">the form</span> below and we will
                    contact you!</h3>
                <form class="order-modal-form">
                    <label for="user-name" class="order-modal-label"></label>
                    <input type="text" name="user-name" class="order-modal-input" required id="user-name"
                        placeholder="Full Name">
                    <label for="email" class="order-modal-label"></label>
                    <input type="email" name="user-email" class="order-modal-input order-input-email" required
                        id="email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email">

                    <p class="text-valid">Succes</p>

                    <p class="text-invalid">invalid email, try again</p>


                    <label for="user-comment" class="order-modal-label"></label>
                    <textarea name="user-comment" id="user-comment" placeholder="Comment"
                        class="order-modal-textarea"></textarea>
                    <button class="order-modal-btn" type="submit">Send</button>
                </form>
            </div>

            <div class="order-second-container">
                <div class="order-picture-container">
                    <picture class="order-picture">
                        <source media="(min-width:1280px)"
                            srcset="/img/order/comp-order.jpg 1x, /img/order/comp-order2x.jpg 2x">
                        <source media="(min-width:768px)"
                            srcset="/img/order/tab-order.jpg 1x, /img/order/tab-order2x.jpg 2x">
                        <source media="(min-width:320px)"
                            srcset="/img/order/mobile-order.jpg 1x, /img/order/mobile-order2x.jpg 2x">
                        <img src="/img/order/mobile-order.jpg" alt="fresh" class="order-img" width="225">
                    </picture>
                </div>

                <h4 class="order-subtitle">Follow us on our social networks:</h4>
                <ul class="order-list">
                    <li class="order-item">
                        <a target="_blank" href="https://www.instagram.com/goitclub/" class="order-link">instagram</a>
                    </li>
                    <li class="order-item">
                        <p class="order-item-text">/</p>
                    </li>
                    <li class="order-item">
                        <a target="_blank" href="https://www.facebook.com/goITclub/" class="order-link">facebook</a>
                    </li>
                    <li class="order-item">
                        <p class="order-item-text">/</p>
                    </li>
                    <li class="order-item">
                        <a target="_blank" href="https://www.youtube.com/c/GoIT" class="order-link">youtube</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>