.advertisement {
  padding: 80px 0;
  background: #FBFBFB;
}

.advertisement-container {
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-text {
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.04;
  /* 104.167% */
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.advertisemen-accent {
  background: #576F35;
  border-radius: 12px;
  color: #FBFBFB;
  display: block;
  padding: 3px 10px 0 10px;
}

.advertisement-span {
  color: #141414;
  background-color: #FBFBFB;
  padding: 0 10px;
  display: block;
}

@media screen and (min-width: 768px) {
  .advertisement {
    padding: 100px 0;
  }

  .advertisement-text {
    width: 736px;
    font-size: 64px;
    line-height: 1.09;
    /* 109.375% */
    letter-spacing: -0.015em;
  }

  .advertisemen-accent {
    display: inline;
    max-width: 736px;
    padding: 8px 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    width: 1080;
    padding: 100px 0;
  }

  .advertisement-text {
    font-size: 76px;
    line-height: 1.05;
    /* 105.263% */
    letter-spacing: -0.015em;
    max-width: 1054px;
    display: inline;
  }

  .advertisemen-accent {
    max-width: 808px;
    display: inline;
    z-index: 99;
    position: relative;
    padding: 0 13px;
  }

  .advertisement-span {
    display: inline-block;
    padding-left: 13px;
  }
}

.advertisement-text {
  font-size: 76px;
  line-height: 1.05;
  /* 105.263% */
  letter-spacing: -0.015em;
  max-width: 1054px;
  display: inline;
}

.advertisemen-accent {
  max-width: 808px;
  display: inline;
  z-index: 99;
  position: relative;
  padding: 0 13px;
}

.advertisement-span {
  display: inline-block;
  padding-left: 13px;
}

/* All */