/*==========FOOTER==========*/
.footer {
  background-color: #7a3145;
  padding: 40px 0;
}
.footer-container {
  margin-bottom: 80px;
}
.menu-footer-container {
  margin-bottom: 40px;
  max-width: 296px;
}
.footer-logo {
  margin-bottom: 14px;
  display: flex;
  gap: 4px;
  height: 16px;
}
.footer-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}
.link-adress-footer {
  max-width: 215px;
}
.footer-links {
  margin-bottom: 40px;
}
.nav-footer-links {
  max-width: 215px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.nav-footer-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.adress-list-footer {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.adress-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.end-footer {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  display: flex;
  justify-content: space-between;
}
.privacy-footer {
  line-height: 1.33333;
  display: flex;
  gap: 8px;
}
.privacy-list {
  display: flex;
  gap: 8px;
}
.footer-green {
  line-height: 1.16667;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .logo-footer-text {
    width: 168px;
    height: 15px;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-text {
    max-width: 265px;
    font-size: 16px;
    line-height: 1.25;
  }
  .link-adress-footer {
    max-width: 215px;
  }
  .nav-footer-links {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 64px;
    width: 178px;
  }
  .nav-footer-link {
    font-size: 32px;
  }
  .footer-links {
    margin-bottom: 0px;
  }
  .adress-list-footer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .adress-link {
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
  }
  .end-footer {
    font-size: 18px;
    line-height: 1.11111;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }
  .footer-container {
    margin-bottom: 125px;
  }
  .nav-footer-links {
    margin-bottom: 0px;
    width: 178px;
  }
  .link-adress-footer {
    display: flex;
    max-width: 513px;
    gap: 121px;
  }
  .footer-links {
    max-width: 180px;
  }
}

/*==========FOOTER==========*/
