.reviews {
    padding: 80px 0;
    background-color: #fbfbfb;
}
.reviews-conteiner {
    
}

.reviews-logotip {
    
}
  
.reviews-title {
    color: #141414;
    font-size: 48px;
    font-style: normal;
    font-family: "Inter Tight",sans-serif;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -1px;
   text-transform: uppercase;
   margin-bottom: 40px;
}
  
.reviews-span {
    color: #576f35;
}
  
.reviews-title-text {
    color: #141414;
    font-size: 14px;
    font-style: normal;
    font-family: "Inter Tight",sans-serif;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: none;
    margin-bottom: 40px;
}
  
.rewiews-list {
}
  
.reviews-item {
    border-radius: 24px;
    border: 1px solid rgba(122, 49, 69, 0.30);
    padding: 20px 16px;
}
  
.reviews-picture {
    margin: 0 auto 24px auto;
}

.frame-text{

}
  
.reviews-subtitle {
    text-align: center;
    margin-bottom: 8px;
    color: #040306;
    font-size: 16px;
    font-style: normal;
    font-family: "Inter Tight",sans-serif;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1px;
    text-transform: none;
    
}
  
.reviews-item-text {
    color: rgba(17, 17, 17, 0.4);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-family: "Inter Tight",sans-serif;
    font-weight: 500;
    line-height: 18px;
    text-transform: none;
}

.tablet {

}
.tablet-desktop {

}